body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
}

.text {
  position: relative;
  float: left;
  z-index: 3;
  width: 16.8333333333%;
  min-height: 57px;
  margin: -546px 0 0 39.16667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.element-1 {
  z-index: 0;
  width: 39.19921875%;
  height: 608px;
  margin-left: 30.39974%;
  border: 3px solid #cfd86d;
  background-color: #ffffff;
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 29.6666666666%;
  height: 128px;
  margin: -592px 0 0 34.73177%;
  border: 3px solid #1b998b;
  border-radius: 20px;
  background-color: #1b998b;
}

.element-3 {
  z-index: 2;
  width: 29.6666666666%;
  height: 258px;
  margin: -401px 0 0 34.73177%;
  background-color: rgb(222, 222, 222);
}