body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  border-width: 3px;
  border-style: solid;
}

.text {
  position: relative;
  float: left;
  z-index: 2;
  width: 19.25%;
  min-height: 52px;
  margin: -546px 0 0 39.83203%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  height: 28px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.element-1 {
  z-index: 0;
  width: 39.19921875%;
  height: 608px;
  margin-left: 28.79948%;
  border-color: #cfd86d;
  background-color: #ffffff;
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 29.6666666666%;
  height: 128px;
  margin: -588px 0 0 34.75%;
  border-color: #d7263d;
  border-radius: 20px;
  background-color: #d7263d;
}

.element-3 {
  z-index: 3;
  width: 29.9166666666%;
  height: 185px;
  margin: -441px 0 0 34.75%;
  border-color: #d7263d;
  border-radius: 20px;
  background-color: rgb(222, 222, 222);
}

.element-4 {
  z-index: 9;
  width: 30%;
  height: 136px;
  margin: -213px 0 0 34.75%;
  border-color: #d7263d;
  border-radius: 20px;
  background-color: rgb(222, 222, 222);
}

._button-1 {
  z-index: 13;
  width: 4.6666666666%;
  height: 30px;
  margin: -500px 0 0 37.16667%;
  background-color: rgb(222, 222, 222);
  text-align: center;
}

._button-2 {
  z-index: 4;
  width: 3.3333333333%;
  height: 24px;
  margin: -426px 0 0 59.08203%;
  border: 2px solid rgb(0, 0, 0);
  background-color: #d7263d;
  text-align: center;
}

._button-3 {
  z-index: 5;
  width: 24.8333333333%;
  height: 75px;
  margin: -381px 0 0 35.59896%;
  background-color: rgb(222, 222, 222);
  text-align: left;
}

._button-4 {
  z-index: 6;
  width: 1.8%;
  height: 17px;
  margin: -376px 0 0 60.43229%;
  background-color: rgb(222, 222, 222);
  text-align: center;
}

._button-5 {
  z-index: 7;
  width: 1.7994791666%;
  height: 17px;
  margin: -353px 0 0 60.43229%;
  background-color: rgb(222, 222, 222);
  text-align: center;
}

._button-6 {
  z-index: 8;
  width: 1.7994791666%;
  height: 17px;
  margin: -331px 0 0 60.43229%;
  background-color: rgb(222, 222, 222);
  text-align: center;
}

._button-7 {
  z-index: 10;
  width: 3.3333333333%;
  height: 24px;
  margin: -200px 0 0 59.46615%;
  border: 2px solid rgb(0, 0, 0);
  background-color: #d7263d;
  text-align: center;
}

._input-1 {
  z-index: 11;
  width: 20.4%;
  margin: -426px 0 0 35.59896%;
}

._input-2 {
  z-index: 12;
  width: 20.3997395833%;
  margin: -204px 0 0 37.1992199999%;
}