// Styling for the download section
section.download {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    .profileImg {
        height: 150px;
        width: 150px;
        box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.56);
    }
    .teamName {
        font-size: 1em;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: -5px;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
