@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}
$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;

div{
  
    .card{
      margin-top:10px;
     

        .download{
            height:150px;
            width:150px;
            margin-left: 90px;
            margin-bottom: 15px;
        }
        .card-title{
            text-align: center;
        }
        .card-body{
            border: 2px solid $blueish;
             height:100%;

            h4{
                @include large;
                font-size:20px;
            }
            .nom{
                @include large;
                font-size:15px;
            }
            .aboutImg{
                width: 100px;
                height: 100px;
            }
            p{
                @include smaller;
            }
            .group{
                margin-left:12px;
            }
            .scrollDiv{
                height: 250px;
                overflow: scroll;
                background-color: rgba(0, 0, 0, 0.052);
            }
        }
    }
}
