@import "reset";

@mixin large {
  font-family: "Montserrat", sans-serif;
}
@mixin smaller {
  font-family: "Neuton", serif;
}
$redish: #d7263d;
$orangeish: #f46036;
$blueish: #2e294e;
$greenish: #1b998b;
$lightgreenish: #c5d86d;

.react-calendar {
  margin: auto;
  margin-top: 40px;
  @include large;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 14px 2px rgba(0, 0, 0, 0.25);
  .react-calendar__navigation {
    @include large;
    height: 44px;
    margin-bottom: 0em;
  }
}
.card-header {
    background-color: $blueish;
    box-shadow: 0px 10px 14px -2px rgba(0, 0, 0, 0.75);
    color: white;
    margin: auto;
    width: 100%;
    padding: 5%;
    text-align: center;
  }
.card.border-secondary {
  @include smaller;
  margin-top: 20px!important;
  background-color: #eae6e6;
  overflow-y: scroll;
  height: 250px;
  font-size: 1em;
  border: none;
  width: 100%;
  margin: auto;
  border: solid gray 0.5px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5%;
  border-radius: 5px;
  box-shadow: 0px 10px 14px 2px rgba(0, 0, 0, 0.25);


  .text-secondary {
    @include large;
    color: #161617 !important;
    border: none;
  }
}
