@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}
$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;


.react-calendar{
    margin: auto;
    margin-top: 10%;
    @include large;
    margin-right: 10px;
    margin-left:10px;
    border-radius:10px;
    box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.25);
        .react-calendar__navigation {
            @include large;
            height: 44px;
            margin-bottom: 0em;
    }
}

.card.border-secondary {
        @include smaller;
        margin-top: 30px;
        background-color: white;
        border: none;
        width: 100%;
        padding-bottom: 0%;
        border-bottom-left-radius: 5px; 
        border-bottom-right-radius: 5px;
        box-shadow: 0px 10px 14px -2px rgba(0,0,0,0.25);
        .scroll-box {
            overflow-y: scroll;
            height: 230px;
            padding: 1rem;
            margin-top:10px;
        .card-header {
            background-color: rgba(0, 0, 0, 0.586);
            box-shadow: 0px 10px 14px -2px rgba(0,0,0,0.25);
            color: white;
            padding-bottom: 5%;
            border-bottom-left-radius: 2.5px; 
            border-bottom-right-radius: 2.5px;
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px;    
        }
    }
}

