@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}
$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;



.medBtn{
    padding: 40px !important;
    border-radius: 15px !important;
    margin-top: 15% !important;
    background-color: $orangeish !important;
    box-shadow: 4px 21px 36px 0px rgba(0, 0, 0, 0.466) !important;
        a {
            @include smaller;
            font-size: 1.5em!important;
            letter-spacing: 2px!important;
            color:white!important;
        }
}
.appBtn {
    padding: 40px!important;
    border-radius: 15px!important;
    margin-top: 30px!important;
    background-color: $lightgreenish!important;
    box-shadow: 4px 21px 36px 0px rgba(0,0,0,0.466)!important;
        a {
            @include smaller;
            font-size: 1.5em!important;
            letter-spacing: 2px!important;
            color:white!important;
        }
}
.overBtn{
    padding: 40px!important;
    border-radius: 15px!important;
    margin-top: 30px!important;
    background-color: $greenish!important;
    box-shadow: 4px 21px 36px 0px rgba(0,0,0,0.466)!important;
        a {
            @include smaller;
            font-size: 1.5em!important;
            letter-spacing: 2px!important;
            color:white!important;
        }
}
.aboutBtn{
    padding: 40px!important;
    border-radius: 15px!important;
    margin-top: 30px!important;
    background-color: $blueish!important;
    box-shadow: 4px 21px 36px 0px rgba(0,0,0,0.466)!important;
        a {
            @include smaller;
            font-size: 1.5em!important;
            letter-spacing: 2px!important;
            color:white!important;
        }
}