@import 'reset';
@mixin large {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
v
@mixin smaller {
  font-family: 'Neuton', serif;
}

$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;

.wrapper {
  background-image: url("../wallpaper.png");
  height:auto;
}
.text-center{
  padding-bottom: 15px;
}
// .container {
//   display: -webkit-flex;
//   display: flex;
//   height: 100%;
// }

.logbox {
  // padding: 10px;
  margin: 50px auto;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1 {
  @include large;
  text-align: center;
  font-size:30px;
  color: #757575;
  font-weight: bold;
}


input {
  @mixin smaller
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.input:focus {
  outline: none;
  border-bottom-color: $lightgreenish;
}

.input:hover {
  border-bottom-color: $lightgreenish;
}

.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: #757575;
  background-color: $lightgreenish;
  border: none;
  -webkit-box-shadow: 0 5px 0 $greenish;
  -moz-box-shadow: 0 5px 0 $lightgreenish;
  box-shadow: 0 5px 0 $lightgreenish;
}

.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 $lightgreenish;
  -moz-box-shadow: 0 3px 0 $lightgreenish;
  box-shadow: 0 3px 0 $lightgreenish;
}

.inputButton:active {
  top: 5px;
  box-shadow: none;
}

.inputButton:focus {
  outline: none;
}