@import 'reset';

@mixin large {
  font-family: 'Montserrat', sans-serif;
}

@mixin smaller {
  font-family: 'Neuton', serif;
}

$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;

.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.logbox {
  padding: 10px;
  margin: 50px auto;
  margin-top: 200px;
  width: 340px;
  background-color: #fff;
 box-shadow: 0px 0px 47px -7px rgba(0,0,0,0.75)
 !important;
  h1 {
    @include large;
    font-size: 30px;
    height: 50px;
    padding-top: 5px;
  }
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  margin-bottom: -20px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
  
}

.input:focus {
  outline: none;
  border-bottom-color: #cfd86d;
}

.input:hover {
  border-bottom-color: #cfd86d;
}

.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  @include smaller;
  font-size: 30px;
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  
  margin: 30px auto 30px;
  color: #757575;
  background-color: #cfd86d;
  box-shadow: 0px 12px 28px -9px rgba(0,0,0,0.75) !important;
}

.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #cfd86d;
  -moz-box-shadow: 0 3px 0 #cfd86d;
  box-shadow: 0 3px 0 #cfd86d;
}

.inputButton:active {
  top: 5px;
  box-shadow: none;
}

.inputButton:focus {
  outline: none;
}


.sign-upBtn:active {
  top: 5px;
  box-shadow: none;
}

.sign-upBtn:focus {
  outline: none;
}
.text-center {
  text-align: center;
    .sign-upBtn {
      @include smaller;
      font-size: 30px;
      position: relative;
      width: 50%;
      height: 50px;
      display: block;
      margin-left: 25%;
      margin-top: -15px;
      color: #757575;
      background-color: #6dc1d8;
      border: none;
      box-shadow: 0px 12px 28px -9px rgba(0,0,0,0.75);
}
}

.form-control{
  @include smaller;
  font-size: 15px;
}