@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}

$orangeish: #F46036;


.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

// https://bootsnipp.com/snippets/featured/panel-tables-with-filter