@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}
$redish: #D7263D;
$orangeish: #F46036;
$blueish: #2E294E;
$greenish: #1B998B;
$lightgreenish: #C5D86D;

.styles_overlayCenter__YHoO7 {
    align-items: center;
}
.styles_modal__gNwvD {
    max-width: 800px;
    position: relative;
    padding: 5.6rem;
    background:#ffffffc7;
    background-clip: padding-box;
    box-shadow: 27 12px 15px 4 black;
    border-radius: 28px;    
}

.label-time {
   @include smaller;
   margin-left: -40px;
   font-size:1.5em;
   margin-bottom: 5px;
}

.text-area {
    font-family: 'Neuton', serif;
    margin-left: -40px;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 35px;
}

h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
    width: 154%;
    height: 30px;
    padding-right: 70px;
    margin-left: -48px;
    border-radius: 10px;
    border: 1px black solid; 
    box-shadow: 0px 10px 14px -2px rgba(0,0,0,0.75);
}

.text-area-style {
    box-shadow: 0px 10px 14px -2px rgba(0,0,0,0.75);
    border-radius:5px;
}

.text-area-button {
    @include large;
    width: 5px;
    border-radius: 1px;
    margin-left:50px;
    box-shadow: 0px 10px 14px -2px rgba(0,0,0,0.75);
    padding-right:65px;
    
}


