@import 'reset';

@mixin large{
    font-family: 'Montserrat', sans-serif;
}
@mixin smaller{
    font-family: 'Neuton', serif;
}

$blueish: #2E294E;

.wrapper {
    background-image: url("../wallpaper.png");
    height: 1000px;
}

.ovrVeiwHeader{
    @include large;
    font-size: 2em;
    background-color: $blueish;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
